@import url('https://fonts.googleapis.com/css?family=Trirong:300,200');

.Contact{
  height:100%;
  background-color: #f8f7ee;
    overflow:auto;
}

.padabove h1{
  font-size: 50px;
}

textarea{
    overflow-y: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#container {
  margin:auto;
  padding-top: 12%;
  width:auto;
  margin-bottom:50px;
  overflow:auto;
}

#demo {
  margin-left: -1%;
  width:300px;
  color: #6B6D76;
  font: 200 14px 'Trirong', serif;
  font-weight:300;
  padding:10px;
  text-align:left;
  background:none;
  overflow:auto;
  float:left;
  color:#fff;
}

#demo p{
  font: 200 16px 'Trirong', serif;
  text-align:left;
    color: #6B6D76;

}

#demo h1{
  color: #6B6D76;
  font: 200 50px 'Trirong', serif;
  text-align:center;
  text-transform:uppercase;
}

#demo img{
display:block;
float:left;
margin-right:10px;
   border:0px solid #888;
      	-moz-transition:all 0.1s ease-in-out;
	-webkit-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;
	-ms-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}

/* Below is the design for the contact form */

#contact-wrap {
  margin-left: -2%;
    font: 200 16px 'Trirong', serif;
  width: 402px;
    color: #F5F9E9;
	overflow:auto;
float:left;
}

#contact-area {
  margin-left:3px;
	width: 342px;

  padding:20px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 342px;
    font: 200 14px 'Trirong', serif;
  color: #F5F9E9;
      background-color:#6B6D76;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #F5F9E9;
      border-right: 1px solid transparent;

  margin-bottom:15px;
}

#contact-area textarea {
	height: 150px;
        background-color:#6B6D76;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #F5F9E9;
  border-right: 1px solid transparent;

}

#contact-area textarea:focus, #contact-area input:focus {
	        background-color:#333;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #F5F9E9;
      border-right: 1px solid transparent;

}

#contact-area input.submit-button {
  font: 200 12px 'Trirong', serif;
  text-transform:uppercase;
	width: 100px;
	float: left;
  background-color:#6B6D76;
  border-top: 1px solid #6B6D76;
  border-left: 1px solid #6B6D76;
  border-bottom: 1px solid #6B6D76;
  border-right: 1px solid #6B6D76;

    	-moz-transition:all 0.1s ease-in-out;
	-webkit-transition:all 0.1s ease-in-out;
	-o-transition:all 0.1s ease-in-out;
	-ms-transition:all 0.1s ease-in-out;
	transition:all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {

  color:#F68F1C;
  background-color:#333;


}

label {
	float: left;
	text-align: left;
	margin-right: 16px;
	width: 100px;
	padding-top: 5px;
    font: 200 18px 'Trirong', serif;
}



::-webkit-input-placeholder {
  color: #fff;

  font-size:14px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;

  font-size:14px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;

  font-size:14px;
}

:-ms-input-placeholder {
   color: #fff;

  font-size:14px;
}

.company{
  margin-left: 3%;
  text-align:left;
  background:none;
  overflow:auto;
  float:left;
  font: 300 14px 'Trirong', serif;
}

.company p{
  color: #6B6D76;
   margin:0
}

.company img{
  padding-bottom: 15px;
}

.office{
  width:200px;
  float:left;
  padding-right: 10px;
  padding-bottom: 30px;
}

.thara{
    width:200px;
      float:left;
      padding-right: 10px;
padding-bottom: 10px;
}

.tesco{
    width:200px;
      float:left;
padding-bottom: 10px;
}

/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      #demo{

        margin-top: 15%;

      }
      #contact-area {
        margin-top: 20%;
        -ms-transform: scale(0.95, 0.95); /* IE 9 */
        -webkit-transform: scale(0.95, 0.95); /* Safari */
        transform: scale(0.95, 0.95);
      }
      #contact-wrap {
          font: 200 16px 'Trirong', serif;
        width: 302px;
        margin-left: 3%;
          color: #F5F9E9;
      float:left;
      }
      .company{
       padding-top: 50px;
       padding-left: 60px;
      }
      .thara{
        margin-top: -5%;
      }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
     #demo{
       margin-left: 7%;

     }
     #contact-area {
       -ms-transform: scale(0.85, 0.85); /* IE 9 */
       -webkit-transform: scale(0.85, 0.85); /* Safari */
       transform: scale(0.85, 0.85);
     }
     #contact-wrap {
         font: 200 16px 'Trirong', serif;
       width: 302px;
       margin-left: 3%;
         color: #F5F9E9;
     float:left;
     }
     .company{
       margin-left: 8%;
     }

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
