/* CHECK THIS SITE FOR IE7+ SUPPORT VERSION: https://css-tricks.com/perfect-full-page-background-image/  */

@import url('https://fonts.googleapis.com/css?family=Kanit:100&subset=thai');

.Frame-header{
  width:100%;
  height:auto;
  position: fixed;
}

nav {
	display: inline-flex;
   align-items: center;
   justify-content: space-between;

	height: 90px;
	width: 95vw;
	margin: 0;
	padding: 0;
}

.navigation{
  height: inherit;
}


.navigation .active{
  height: inherit;
  background-color: white;
}

.above-overlay { z-index: 10001; }

nav a.nav-brand {}

.logo{
  padding-top: 7%;
  width:520px;
  height: auto;
}

nav a > img {
	height: 50px;
	width: auto;
}

.nav-brand{
  float: left;
}

/* @media (min-width: 789px) {
	.menu-burger { display: none; }
} */

.menu-burger {
	  width: 90px;
    height: 22px;
    cursor: pointer;
    display: inline-block;
    align-items: right;

    padding: 10px;
    padding-bottom: 5%;
    float: right;

}
.menu-text{
  display: inline-block;
  color: #f68f1c;
	font: 100 30px 'Kanit', helvetica, san-serif;
	letter-spacing: 1px;
	text-transform: lowercase;
}
.bar,
.bar:after,
.bar:before {
  float: right;
	height: 1px;
	background: #f68f1c;
  display: inline-block;
}

.bar:before { width: 30px; }
.bar  		{ width: 25px; }
.bar:after 	{ width: 20px; }

.bar {
	position: relative;
	transition: all 0ms 300ms;
}

.bar.animate {
	width: 30px;
	background: rgba(255, 255, 255, 0);
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 10px;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	width: 30px;
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}


/*overlay*/

.overlay {
	display: none;
	position: fixed;
	height: 100vh;
	width: 120vw;
	top: 0;
	overflow: auto;
	z-index: 10000; /* One less than menu-burger */
	/* Background Image */
	background: rgba(217, 220, 203, 0.99);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay a { text-decoration: none; }

.overlay .menu-options-list {
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	padding: 0;
	margin: 15vh 0 0;
}

.overlay .menu-option {
  width: 75%;
 margin-left: 3%;
 padding: 0.8rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  display: inline-block;
}

.link--surinami {
  font: 100 1.5em 'Kanit', helvetica, san-serif;
  text-decoration: none;
  color:  #515751;
  letter-spacing: 2px;
  padding: 0 0 0.125em;
}
.link--surinami::before, .link--surinami::after {
  content: '';
  width: 100%;
  height: 3px;
  z-index: -1;
  position: absolute;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.link--surinami::before {
  right: 0;
  top: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.link--surinami::after {
  left: 0;
  bottom: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.link--surinami:hover::before, .link--surinami:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.link--surinami:hover span {
  color: transparent;
}
.link--surinami:hover span::before, .link--surinami:hover span::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.link--surinami span {
  position: relative;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.link--surinami span::before, .link--surinami span::after {
  position: absolute;
  color:  white;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.link--surinami span::before {
  content: attr(data-letters-l);
  left: 0;
  -webkit-transform: translate3d(-5px, 0, 0);
  transform: translate3d(-5px, 0, 0);
}
.link--surinami span::after {
  content: attr(data-letters-r);
  right: 0;
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}
/*-------REGULAR MENU------*/
.menu-regular-list{
  list-style: none;
 text-align: center;
 padding: 0;
 margin: 0;
}

.menu-list{
  padding-right: 20px;
  padding-top: 20px;
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  display: inline-block;
}
/*-------------*/



@-webkit-keyframes slideDownIn {
  0%   { opacity: 0;
	  		transform: translate(0, -100px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}
@-moz-keyframes slideDownIn {
    0%   { opacity: 0;
	  		transform: translate(0, -100px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}
@-o-keyframes slideDownIn {
    0%   { opacity: 0;
	  		transform: translate(0, -100px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}
@keyframes slideDownIn {
    0%   { opacity: 0;
	  		transform: translate(0, -50px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}

.slideDownIn {
  -webkit-animation: slideDownIn 1s; /* Safari 4+ */
  -moz-animation:    slideDownIn 1s; /* Fx 5+ */
  -o-animation:      slideDownIn 1s; /* Opera 12+ */
  animation:         slideDownIn 1s; /* IE 10+, Fx 29+ */
}

@media only screen and (max-width : 1200px) {
  .logo{
    padding-top: 10%;
    padding-left: 3%;
    width: 600px;

  }
  .overlay{
    margin-left: -13%;
  }
  .overlay .menu-options-list {
    margin-top: 30%;
  }

  .menu-text{
    display: inline-block;
    margin-bottom: 50px;
    font: 100 40px 'Kanit', helvetica, san-serif;
  }
  .menu-burger {
  	  width: 130px;
      display: inline-block;
  }

  .bar{
    margin-top: 30px;
  }

  .bar,
  .bar:after,
  .bar:before {
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);
  }
    }
    @media only screen and (max-width : 1920px) {
      .link--surinami {
        font: 100 1.5em 'Kanit', helvetica, san-serif;
        color: #f68f1c;
      }

    }

    @media only screen and (max-width : 1620px) {
      .link--surinami {
        font: 100 1.2em 'Kanit', helvetica, san-serif;
        text-decoration: none;
      }

    }

    @media only screen and (max-width : 1300px) {
      .link--surinami {
        font: 100 0.8em 'Kanit', helvetica, san-serif;
        text-decoration: none;
      }

    }


    /* Medium Devices, Desktops */
    @media only screen and (min-width : 810px) {
      .menu-burger{
         display: none!important;
      }
      .link--surinami span::before, .link--surinami span::after {
        position: absolute;
        color:  #515751;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
      }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 810px) {
      .menu-regular-list{
      display: none!important;
      }
      .link--surinami {
        color: #515751;
      }
      .logo{
        padding-top: 10%;
        padding-left: 3%;
        width: 450px;

      }
      .overlay{
        margin-left: -13%;
      }
      .overlay .menu-options-list {
        margin-top: 15%;
      }
      .overlay .menu-option{
        margin-left: 15%;
      }


    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      .menu-regular-list{
      display: none!important;
      }

      .link--surinami {
        color: #515751;
      }
      .logo{
        padding-top: 1%;
        padding-left: 1%;
        width:250px;
      }
      .menu-text{
        padding-left: 30%;
      	font: 100 18px 'Kanit', helvetica, san-serif;
      }
      .menu-burger{
        width: 150px;
      margin-top: 15px;
      margin-bottom: 30px;
      float: right;
      }
      .bar{
        margin-top: 15px;
        float: right;
      }

      .bar,
      .bar:after,
      .bar:before {

        float: right;
        -ms-transform: scale(0.75, 0.75); /* IE 9 */
        -webkit-transform: scale(0.75, 0.75); /* Safari */
        transform: scale(0.75, 0.75);
      }
      .bar.animate {
      	width: 15px;
      }
      .link--surinami {
        font: 100 15px 'Kanit', helvetica, san-serif;
      }
      .overlay{
        margin-left: -17%;
      }

      .overlay .menu-option{
        margin-left: 15%;
        margin-top: 2%;
      }

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 365px) {
      .menu-regular-list{
      display: none!important;
      }

      .link--surinami {
        color: #515751;
      }

      .logo{
        padding-top: 8%;
        padding-left: 3%;
        width:220px;
      }
      .menu-text{

        display: none!important;

      }
      .menu-burger{
        float: left;
        padding-top: 15px;
        margin: 0;
        padding-left: 50px;
      }
      .bar,
      .bar:after,
      .bar:before {
        float: left;
        -ms-transform: scale(0.75, 0.75); /* IE 9 */
        -webkit-transform: scale(0.75, 0.75); /* Safari */
        transform: scale(0.75, 0.75);
      }
      .bar.animate {
      	width: 10px;
      }
      .link--surinami {
        font: 100 15px 'Kanit', helvetica, san-serif;
      }
      .overlay{
        margin-left: -15%;

      }
      .overlay .menu-option{
        margin-left: 14%;
        margin-top: 2%;
      }


    }
