/* CHECK THIS SITE FOR IE7+ SUPPORT VERSION: https://css-tricks.com/perfect-full-page-background-image/  */

@import url('https://fonts.googleapis.com/css?family=Kanit:400,100,600&subset=thai');

.Frame-header{
  width:100%;
  height:auto;
  position: relative;
}

nav {
	display: inline-flex;
   align-items: center;
   justify-content: space-between;

	height: 90px;
	width: 95vw;
	margin: 0;
	padding: 0;
}

.above-overlay { z-index: 10001; }

nav a.nav-brand {}

.logo{
  margin-top: 75%;
  width:150px;
  height: auto;
}

nav a > img {
	height: 50px;
	width: auto;
}

@media (min-width: 789px) {
	.menu-burger { display: none; }
}

.menu-burger {
	 width: 90px;
    height: 22px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    right: 50px;
    margin: 0 30px 0 0;
    padding: 10px;
}
.menu-text{
  display: inline-block;
  float: left;
  color: #F5F9E9;
	font: 100 30px 'Kanit', helvetica, san-serif;
	letter-spacing: 1px;
	text-transform: lowercase;
}
.bar,
.bar:after,
.bar:before {
	height: 1px;
	background: #F5F9E9;
  display: inline-block;
}

.bar:before { width: 30px; }
.bar  		{ width: 25px; }
.bar:after 	{ width: 20px; }

.bar {
	position: relative;
	transform: translateY(10px);
	transition: all 0ms 300ms;
}

.bar.animate {
	width: 30px;
	background: rgba(255, 255, 255, 0);
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 10px;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	width: 30px;
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}


/*overlay*/

.overlay {
	display: none;
	position: fixed;
	height: 100vh;
	width: 120vw;
  margin-left: -10%;
	top: 0;
	overflow: auto;
	z-index: 10000; /* One less than menu-burger */
	/* Background Image */
	background: rgba(81, 87, 81, 0.85);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay a { text-decoration: none; }

.overlay .menu-options-list {

	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	padding: 0;
	margin: 15vh 0 0;
}

.overlay .menu-option {
  width: 100%;
 padding: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  display: inline-block;
}

.link--surinami {
  font: 100 50px 'Kanit', helvetica, san-serif;
  color:  #C2C1A5;
  letter-spacing: 2px;
  padding: 0 0 0.125em;
}
.link--surinami::before, .link--surinami::after {
  content: '';
  width: 100%;
  height: 3px;
  z-index: -1;
  position: absolute;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.link--surinami::before {
  right: 0;
  top: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.link--surinami::after {
  left: 0;
  bottom: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.link--surinami:hover::before, .link--surinami:hover::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.link--surinami:hover span {
  color: transparent;
}
.link--surinami:hover span::before, .link--surinami:hover span::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.link--surinami span {
  position: relative;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.link--surinami span::before, .link--surinami span::after {
  position: absolute;
  color:  #F5F9E9;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.link--surinami span::before {
  content: attr(data-letters-l);
  left: 0;
  -webkit-transform: translate3d(-5px, 0, 0);
  transform: translate3d(-5px, 0, 0);
}
.link--surinami span::after {
  content: attr(data-letters-r);
  right: 0;
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}

/*-------------*/



@-webkit-keyframes slideDownIn {
  0%   { opacity: 0;
	  		transform: translate(0, -100px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}
@-moz-keyframes slideDownIn {
    0%   { opacity: 0;
	  		transform: translate(0, -100px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}
@-o-keyframes slideDownIn {
    0%   { opacity: 0;
	  		transform: translate(0, -100px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}
@keyframes slideDownIn {
    0%   { opacity: 0;
	  		transform: translate(0, -50px);
		 }
  100% { opacity: 1;
	  		transform: translate(0, 0);
		 }
}

.slideDownIn {
  -webkit-animation: slideDownIn 1s; /* Safari 4+ */
  -moz-animation:    slideDownIn 1s; /* Fx 5+ */
  -o-animation:      slideDownIn 1s; /* Opera 12+ */
  animation:         slideDownIn 1s; /* IE 10+, Fx 29+ */
}
